.main-header {
  color: $alice-blue;
  background-color: $cod-grey;
  font-size: 22px;
  line-height: 34px;
  position: relative;
  padding-top: 305px;
  padding-bottom: 270px;

  @include vp-1023 {
    padding-top: 180px;
    padding-bottom: 197px;
  }

  @include vp-767 {
    padding-top: 150px;
    padding-bottom: 179px;
  }

  p {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;

    @include vp-1023 {
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 8px;
    }
  }

  b {
    font-family: $ff-significant;
    font-size: 80px;
    font-weight: 700;
    line-height: 94px;
    text-transform: uppercase;
    letter-spacing: 0.07em;

    @include vp-1023 {
      font-size: 64px;
      line-height: 75px;
    }

    @include vp-767 {
      font-size: 36px;
      line-height: 42px;
    }
  }

  img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include vp-1023 {
      object-position: 19.4% 0;
    }

    @include vp-767 {
      object-position: 25.4% 0;
    }
  }
}

.main-header__container {
  position: relative;
  padding-left: 175px;
  padding-right: 420px;

  @include vp-767 {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.main-header__button {
  background-color: $deep-sky-blue;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  padding: 16px 27px;
  margin-top: 19px;
  letter-spacing: 0.05em;
  border-radius: 3px;

  span {
    &:last-child {
      display: none;
    }
  }

  @include vp-1023 {
    margin-left: 45px;
    margin-top: 57px;
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 16px;
    margin-left: 0;
    margin-top: 37px;
    justify-self: center;
    padding: 12px 37px;

    span {
      &:first-child {
        display: none;
      }

      &:last-child {
        display: inline;
      }
    }
  }
}
