.social {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  position: relative;

  @include vp-1023 {
    grid-template-columns: 215px 1fr;
    grid-template-rows: min-content;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    justify-items: center;

    &::after {
      display: block;
      position: absolute;
      content: "";
      width: 100vw;
      height: 1px;
      background-color: rgba($alice-blue, 0.7);
      bottom: 0;
      left: -25px;
    }
  }
}

.social__logo {
  margin-bottom: 30px;

  @include vp-767 {
    margin-bottom: 8px;
  }

  img {
    display: block;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-self: start;
  margin-left: 10px;

  @include vp-1023 {
    justify-self: end;
    position: relative;
  }

  @include vp-767 {
    justify-self: center;
    margin-bottom: 18px;
  }
}

.social__item {
  margin-right: 15px;

  @include vp-1023 {
    margin-right: 0;
    margin-left: 15px;
    margin-top: 7px;
    position: relative;
    right: -5px;
  }

  @include vp-767 {
    right: 10px;
  }
}

.social__link {
  display: block;
}
